VERDICT Simulations\Figures\
VERDICT Simulations\Training Data/

VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_100/sigma_0.033/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_100/sigma_0.033/params.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_100/sigma_0.033/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_100/sigma_0.05/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_100/sigma_0.05/params.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_100/sigma_0.05/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_100/sigma_0.067/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_100/sigma_0.067/params.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_100/sigma_0.067/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_50/sigma_0.033/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_50/sigma_0.033/params.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_50/sigma_0.033/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_50/sigma_0.05/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_50/sigma_0.05/params.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_50/sigma_0.05/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_50/sigma_0.067/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_50/sigma_0.067/params.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_50/sigma_0.067/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_75/sigma_0.033/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_75/sigma_0.033/params.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_75/sigma_0.033/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_75/sigma_0.05/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_75/sigma_0.05/params.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_75/sigma_0.05/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_75/sigma_0.067/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_75/sigma_0.067/params.mat
VERDICT Simulations/Training Data/RDI v1.3/NS Simulation Scheme/Ratio/T2_75/sigma_0.067/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.02/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.02/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.02/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.033/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.033/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.033/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.04/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.04/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.04/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.05/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.05/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.05/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.06/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.06/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.06/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.067/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.067/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_100/sigma_0.067/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.02/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.02/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.02/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.033/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.033/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.033/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.04/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.04/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.04/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.05/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.05/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.05/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.06/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.06/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.06/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.067/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.067/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_125/sigma_0.067/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.02/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.02/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.02/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.033/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.033/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.033/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.04/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.04/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.04/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.05/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.05/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.05/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.06/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.06/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.06/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.067/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.067/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_50/sigma_0.067/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.02/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.02/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.02/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.033/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.033/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.033/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.04/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.04/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.04/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.05/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.05/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.05/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.06/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.06/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.06/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.067/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.067/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Ratio/T2_75/sigma_0.067/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Rice/T2_10000/sigma_0.02/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Rice/T2_10000/sigma_0.02/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Rice/T2_10000/sigma_0.02/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Rice/T2_10000/sigma_0.04/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Rice/T2_10000/sigma_0.04/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Rice/T2_10000/sigma_0.04/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Rice/T2_10000/sigma_0.05/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Rice/T2_10000/sigma_0.05/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme NS/Rice/T2_10000/sigma_0.05/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_100/sigma_0.025/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_100/sigma_0.025/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_100/sigma_0.025/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_10000/sigma_0.02/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_10000/sigma_0.02/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_10000/sigma_0.02/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_10000/sigma_0.05/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_10000/sigma_0.05/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_10000/sigma_0.05/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.01/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.01/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.01/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.0275/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.0275/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.0275/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.045/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.045/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.045/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.0625/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.0625/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.0625/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.08/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.08/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_120/sigma_0.08/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.01/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.01/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.01/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.0275/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.0275/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.0275/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.045/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.045/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.045/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.0625/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.0625/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.0625/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.08/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.08/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_160/sigma_0.08/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.01/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.01/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.01/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.0275/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.0275/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.0275/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.045/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.045/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.045/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.0625/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.0625/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.0625/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.08/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.08/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_200/sigma_0.08/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.01/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.01/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.01/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.0275/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.0275/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.0275/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.045/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.045/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.045/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.0625/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.0625/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.0625/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.08/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.08/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_40/sigma_0.08/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.01/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.01/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.01/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.0275/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.0275/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.0275/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.045/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.045/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.045/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.0625/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.0625/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.0625/signals.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.08/Meta.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.08/params.mat
VERDICT Simulations/Training Data/RDI v1.3/Short Scheme v1/T2_80/sigma_0.08/signals.mat
